<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="iconHandler" type="Mvolo.ShellIcons.Web.ShellIconHandlerConfigurationSection"/>
	</configSections>
	<appSettings>
  <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
  <add key="ChartImageHandler" value="storage=file;timeout=20;" />
 </appSettings>
	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="Data Source=owner-PC\;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=aspnet;Password=aspnet!" providerName="System.Data.SqlClient"/>
		<add name="sqlData" connectionString="Data Source=owner-PC\;Initial Catalog=LoanServicing;Persist Security Info=True;User ID=loanservicing;Password=Loanservicing!" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="info@utiloan.com">
				<network defaultCredentials="false" host="smtpout.secureserver.net" port="80" userName="info@utiloan.com" password="Yukiko13"/>
			</smtp>
		</mailSettings>
	</system.net>
	<location path="Roles/Admins">
		<system.web>
			<authorization>
				<allow roles="Administrator"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Roles/Borrowers">
		<system.web>
			<authorization>
				<allow roles="Borrower"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Roles/Investors">
		<system.web>
			<authorization>
				<allow roles="Investor"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="43200"/>
		</authentication>
		<anonymousIdentification enabled="true"/>
		<membership defaultProvider="CustomMembership">
			<providers>
				<clear/>
				<add name="CustomMembership" type="CustomProviders.CustomMembershipProvider" requiresQuestionAndAnswer="false" minRequiredPasswordLength="8" enablePasswordRetrieval="false" enablePasswordReset="false" connectionStringName="sqlData"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="CustomRole" cacheRolesInCookie="false">
			<providers>
				<clear/>
				<add name="CustomRole" type="CustomProviders.CustomRoleProvider" connectionStringName="sqlData"/>
			</providers>
		</roleManager>
		<authorization>
			<allow users="*"/>
		</authorization>
		<profile enabled="true">
			<properties>
				<add name="IndividualID" type="Int32" defaultValue="0"/>
				<add name="FirstName" type="String" defaultValue=""/>
				<add name="LastName" type="String" defaultValue=""/>
				<add name="Email" type="String" defaultValue=""/>
				<add name="Role" type="String" defaultValue=""/>
				<add name="BorrowerID" type="Int32" defaultValue=""/>
				<add name="InvestorID" type="Int32" defaultValue=""/>
				<add name="AdministratorID" type="Int32" defaultValue=""/>
				<add name="ServicerID" type="Int32" defaultValue=""/>
			</properties>
		</profile>
		<httpModules>
			<add name="OboutUploadModule" type="OboutInc.FileUpload.UploadProgressModule, obout_FileUpload, Version=1.10.806.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5"/>
		</httpModules>
		<httpHandlers>
   <add path="OboutInc.UploadProgressHandler.aspx" verb="*" type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.10.806.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
   <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    validate="false" />
   <add path="geticon.axd" verb="GET" type="Mvolo.ShellIcons.Web.ShellIconHandler" />
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="true"
   clientIDMode="AutoID">
   <controls>
	   <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
	   <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit" />
	   <add tagPrefix="ajaxToolkit" namespace="MyControls" />
	   <add tagPrefix="custom" namespace="CustomControls" />
	   <add tagPrefix="userControls" tagName="timebox" src="~/UserControls/TimeBox.ascx" />
	   <add tagPrefix="userControls" tagName="calendarBox" src="~/UserControls/CalendarTextBox.ascx" />
	   <add tagPrefix="userControls" tagName="pictureUpload" src="~/UserControls/PictureUpload.ascx" />
	   <add tagPrefix="userControls" tagName="mediaUpload" src="~/UserControls/MediaUpload.ascx" />
	   <add tagPrefix="userControls" tagName="fileUpload" src="~/UserControls/FileUpload.ascx" />
	   <add tagPrefix="userControls" tagName="ethnicityDDL" src="~/UserControls/EthnicityDropDown.ascx" />
	   <add tagPrefix="userControls" tagName="integerTextbox" src="~/UserControls/IntegerTextbox.ascx" />
	   <add tagPrefix="userControls" tagName="website" src="~/UserControls/Website.ascx" />
	   <add tagPrefix="userControls" tagName="Email" src="~/UserControls/Email.ascx" />
	   <add tagPrefix="userControls" tagName="Phone" src="~/UserControls/Phone.ascx" />
	   <add tagPrefix="userControls" tagName="CurrencyBox" src="~/UserControls/CurrencyTextbox.ascx" />
	   <add tagPrefix="userControls" tagName="PercentBox" src="~/UserControls/PercentageTextbox.ascx" />
	   <add tagPrefix="userControls" tagName="StateComboBox" src="~/UserControls/StateComboBox.ascx" />
	   <add tagPrefix="userControls" tagName="UpdatePayment" src="~/UserControls/Loans/UpdatePayment.ascx" />
	   <add tagPrefix="userControls" tagName="InvestorStatementList" src="~/UserControls/ReportSections/InvestorStatementList.ascx" />
	   <add tagPrefix="userControls" tagName="BorrowerStatementList" src="~/UserControls/ReportSections/BorrowerStatementList.ascx" />
	   <add tagPrefix="userControls" tagName="MemberInfo" src="~/UserControls/MemberInfo/MemberInfo.ascx" />
	   <add tagPrefix="userControls" tagName="PenaltyNotice" src="~/UserControls/ReportSections/PenaltyNotice.ascx" />
	   <add tagPrefix="obout" namespace="OboutInc.FileUpload" assembly="obout_FileUpload" />
	   <add tagPrefix="obout" namespace="OboutInc.Calendar2" assembly="obout_Calendar2_NET" />
	   <add tagPrefix="obout" namespace="Obout.Ajax.UI.FileUpload" assembly="Obout.Ajax.UI" />
	   <add tagPrefix="obout" namespace="Obout.Ajax.UI.TreeView" assembly="Obout.Ajax.UI" />
	   <add tagPrefix="obout" namespace="Obout.ComboBox" assembly="obout_ComboBox" />
	   <add tagPrefix="obout" namespace="OboutInc.Splitter2" assembly="obout_Splitter2_Net" />
	   <add tagPrefix="obout" namespace="Obout.ListBox" assembly="obout_ListBox" />
	   <add tagPrefix="obout" namespace="OboutInc" assembly="obout_AJAXPage" />
	   <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	   <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
	</system.web>
	<system.webServer>
  <security>
   <requestFiltering>
    <requestLimits maxAllowedContentLength="524288000">
    </requestLimits>
   </requestFiltering>
  </security>
  <modules runAllManagedModulesForAllRequests="true">
   <add name="OboutUploadModule" type="OboutInc.FileUpload.UploadProgressModule, obout_FileUpload, Version=1.10.806.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
  </modules>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ReportViewerWebControlHandler" preCondition="integratedMode"
    verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   <add verb="*" path="OboutInc.UploadProgressHandler.aspx" name="UploadProgressHandler"
    type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.10.806.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
   <add name="iconhandler" path="geticon.axd" verb="GET" type="Mvolo.ShellIcons.Web.ShellIconHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
  <httpErrors defaultPath="C:\inetpub\wwwroot\AdoptCBTRedirect\HttpRedirect.htm">
   <error statusCode="403" subStatusCode="4" path="C:\inetpub\wwwroot\AdoptCBTRedirect\HttpRedirect.htm"
    responseMode="File" />
  </httpErrors>
 </system.webServer>
	<iconHandler enabled="true" alwaysUseExtension="true" enableClientCaching="true" enableServerCaching="true"/>
</configuration>
